.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 74px 0 70px;
  box-sizing: border-box;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.profile__info-container {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  min-width: 32%;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  margin: 106px 0 0;
  padding: 17px 0 16px;
  box-sizing: border-box;
}

.profile__info-container:nth-last-of-type(2) {
  border: none;
}

.profile__info-container:nth-of-type(n+2) {
  margin: 0;
}

.profile__name {
  margin: 0;
}

.profile__value {
  margin: 0;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  margin: 204px 0 0;
}

.profile__edit-button {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__exit-button {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #EE3465;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 16px 0 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.profile__exit-button:hover {
  opacity: 0.7;
}

@media all and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__info-container {
    min-width: 53.39%;
    margin: 79px 0 0;
  }

  .profile__button-container {
    margin: 194px 0 0;
  }
}

@media all and (max-width: 520px) {
  .profile {
    padding: 74px 30px 40px;
  }
  
  .profile__info-container {
    min-width: none;
    width: 100%;
    margin: 63px 0 0;
  }
  
  .profile__button-container {
    margin: 379px 0 0;
  }
  
  .profile__edit-button {
    font-size: 12px;
  }
  
  .profile__exit-button {
    font-size: 12px;
  }
}